{% load inventree_extras %}
{% load i18n %}
{% load static %}

<script>
    async function upload_csv() {
        var formData = new FormData();
        var fieldNameMatching = {};

        $('#tblFieldMatching tr[id^="template_"]').each(function () {

            let selectedIndex = this.cells[1].children[0].selectedIndex;
            let selectedVal = this.cells[1].children[0].options[selectedIndex].value

            fieldNameMatching[selectedVal] = this.cells[0].getAttribute("value");

        });

        formData.append("fieldNameMatching", JSON.stringify(fieldNameMatching))  // Matches those that begin with 'tcol'
        formData.append("file", fileupload.files[0]);

        const cmd_url = "{% url 'plugin:kicad-library-plugin:meta_data_upload' %}"

        response = inventreeFormDataUpload(url = cmd_url, data = formData)

    }

    async function extract_header() {
        $('#upload-form').on('change', function (evt) {

            if (evt.target.files == null) {
                return;
            }

            document.getElementById("btn_import").disabled = false;

            var filesCount = evt.target.files.length;

            if (!filesCount) {
                document.getElementById("btn_import").disabled = true;
            }

            for (i = 0; i < filesCount; i++) {
                var file = evt.target.files[i];
                if (file) {
                    var reader = new FileReader();
                    reader.readAsArrayBuffer(file);

                    // Handler for onloadend event.  Triggered each time the reading operation is completed (success or failure)
                    reader.onloadend = function (evt) {

                        var data = evt.target.result;
                        var byteLength = data.byteLength;
                        var ui8a = new Uint8Array(data, 0);

                        var headerString = '';

                        // Iterate through each character in our Array
                        for (var i = 0; i < byteLength; i++) {

                            var char = String.fromCharCode(ui8a[i]);
                            if (char.match(/[^\r\n]+/g) !== null) {

                                // ignore "
                                if (char !== '"') {
                                    headerString += char;
                                }

                            } else {
                                break;
                            }
                        }

                        $("[name^=csv_header_]").each(function () {
                            let selectField = this;
                            selectField.innerHTML = "";

                            var opt = document.createElement("option");
                            opt.value = "-----";
                            opt.innerHTML = "-----";
                            selectField.appendChild(opt);

                            $.each(headerString.split(","), function (i, e) {

                                opt = document.createElement("option");
                                opt.value = e;
                                opt.innerHTML = e;
                                selectField.appendChild(opt);

                            });

                        });
                    };
                } else {
                    alert("Failed to load file");
                }
            }

        });

        return true;
    }


</script>


<div class='panel-content'>

    <!-- Generic note for user -->
    <div class='alert alert-info alert-block'>
        <strong>"Requirements for KiCad Metadata upload":</strong>
        <ul>
            <li>"The CSV file must contain the required values. Please match the corresponding part parameters with
                their CSV headings below!"
            </li>
            
            <li>"Each part must already exist in the database"</li>
        </ul>
    </div>

</div>

<form id="upload-form">

    <div class="mb-3">
        <label for="formFile" class="form-label">Please select a CSV file</label>
        <input class="form-control" type="file" id="fileupload" name="fileupload" onchange="extract_header()">
    </div>

    <table class="table table-condensed" id="tblFieldMatching">
        <tbody>
        <tr>
            <th>KiCad Parameter</th>
            <th>CSV Field Name</th>
        </tr>

        {% for template in plugin.part_parameter_templates %}
            <tr id="template_{{ template.id }}">
                <td value="{{ template.id }}"><em>{{ template.name }}</em></td>
                <td>
                    <select id="csv_header_{{ forloop.counter0 }}" class="select form-control"
                            name="csv_header_{{ forloop.counter0 }}">
                        <option value="">-----</option>
                    </select>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

</form>

<button type="submit" class="btn btn-primary" onclick="upload_csv()" title='Import' id="btn_import" disabled>Import
    Data
</button>